<%- include ("partials/head") -%>

<div class="container">
	<div class="url-container">
		<% if (locals.shortUrl) { %>
		<div class="clipboard-wrapper">
			<div class="tooltip">
				<h2 data-clipboard>Copy to clipboard</h2>
				<a data-clipboard href="#"><i class="fas fa-copy"></i></a>

				<span class="tooltiptext">Copied!</span>
			</div>
		</div>
		<a target="_blank" href="<%= locals.longUrl %>" class="shortened-link heroAnim"><%= locals.shortUrl %></a>
		<input type="hidden" value="<%= locals.shortUrl %>" id="clipper" />
		<% } %>
		<form action="/">
			<button class="btn-404"><i class="fas fa-home fa-2x" aria-hidden="true"></i></button>
		</form>
	</div>
</div>

<%- include ("partials/footer") -%>
